odel Add<PetGrooming.Models.Pet>
    @{
        ViewBag.Title = "Add";
    }

    <h2>Add</h2>

    <form method="post" action="/Pet/Add">


        <label for="PetName"> Name:</label>
        <input type="text" name="PetName" id="PetName" />

        <label for="SpeciesID" Species:</label>
        <select type="text" name="SpeciesID" id="SpeciesID" />
        {
        foreach (var species in Model)
        {
        <option value="species.SpeciesID>species.Name</option>"
                }
                }
    </select>

    <label for="PetWeight">Weight:</label>
    <input type="text" name="PetWeight" id="PetWeight" />

    <label for="PetColor">Color:</label>
    <input type="text" name="PetColor" id="PetColor" />

    <label for="PetNotes">Notes:</label>
    <textarea name="PetNotes" id="PetNotes">
    </textarea>

    <input type="submit" value="Add" />

    </form>

    <div>
        <a href="/Pet/List">Back To List</a>
    </div>






